@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,700&display=swap");

/* Global Styles */
:root {
  --primary-color: #b6eb7a;
  --dark-color: #17706e;
  --light-color: #f7f7ee;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f7f7ee;
  color: #17706e;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  border: #e94560 1px solid;
  margin: 0;
}

.page-card {
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
  color: #e94560;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  color: #17706e;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #17706e;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.home-page {
  display: flex;
}

.home-heading {
  padding: 0 20px;
}

.home-heading p {
  font-size: 1.6rem;
}

.get-started {
  border: 1px solid #fb7813;
  background-color: #fb7813;
  color: #f7f7ee;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  height: 50px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.get-started:hover {
  transform: scale(1.5);
}

.courses-page {
  padding: 0 20px;
}

.category-header span {
  background-color: #e5e7e8;
  width: 75%;
  height: 4px;
  display: flex;
  flex-direction: row;
}

.category-name {
  font-size: 2rem;
  color: #fb7813;
}

.category-name i {
  color: #b6eb7a;
}

.tile-holder {
  margin-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}

.course-tile {
  height: 180px;
  width: 240px;
  backdrop-filter: blur(9px);
  border-radius: 20px;
  margin: 10px;
}

.first {
  background-image: url("https://i.postimg.cc/Bb1MCKK8/trianglify-lowres.png");
}

.second {
  background-image: url("https://i.postimg.cc/WbR1xrhb/trianglify-lowres-1.png");
}

.third {
  background-image: url("https://i.postimg.cc/Hx5fMJHB/trianglify-lowres-4.png");
}

.electives {
  background-image: url("https://i.postimg.cc/s2G8FBBs/trianglify-lowres-5.png");
}

.roadmaps {
  background-image: url("https://i.postimg.cc/rybJd5Jk/trianglify-lowres-6.png");
}

.roadmaps-tile {
  height: 120px;
  width: 240px;
  backdrop-filter: blur(9px);
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}

.course-tile p,
.roadmaps-tile p {
  font-weight: bold;
  font-size: 28px;
  padding: 5px;
  margin: auto 10px;
}

a .course-tile,
a .roadmaps-tile {
  text-decoration: none;
  color: #17706e;
}

/* Subject page */
.subject-title {
  text-align: center;
  color: #fb7813;
}

.subject-title i {
  color: #17706e;
}

.subject-page {
  padding: 0 20px;
}

.resource-tile {
  padding: auto;
  height: 80px;
  margin: 15px;
  width: 70%;
  background-color: #ffc074;
  border-radius: 10px;
  display: flex;
  box-shadow: 10px 10px 5px 0px rgba(229, 231, 232, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(229, 231, 232, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(229, 231, 232, 0.75);
}

.resource-tile a {
  color: #17706e;
}

.resource-badge {
  font-size: 2rem;
  padding: 10px;
  width: 50px;
  height: 80px;
}

.resource-name {
  padding: 18px;
}

.nav-tems {
  display: flex;
}

.roadmap-title {
  text-align: center;
}
